<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :hotness %>
    <%= f.input :image_url %>
    <%= image_tag @movie.image_url %>
    <%= f.input :synopsis %>
    <%= f.input :rating %>
    <%= f.input :genre %>
    <%= f.input :director %>
    <%= f.input :runtime %>
    <%= f.input :release_date, html5: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
