<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Hotness</th>
      <th>Image</th>
      <!-- <th>Synopsis</th> -->
      <th>Rating</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Runtime</th>
      <th>Release Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.hotness %></td>
        <td><%= image_tag movie.image_url, class: "thumbnail" %></td>
        <!-- <td><%= movie.synopsis %></td> -->
        <td><%= movie.rating %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.director %></td>
        <td><%= movie.runtime %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <br>

<%= link_to 'New Movie', new_movie_path %>
 -->